@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }

  .snap-y {
    --scroll-snap-direction: y;
  }

  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }
}

;

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

body {
  font-family: Arial, sans-serif;
}

#heatmap-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#area-chart-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 400px;
  height: 400px;
}

#pie-chart-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 400px;
  height: 265px;

}


#background {
  background-image: url("/image/26669.jpg");
}